
* {
    margin: 0;
  }
 
  body {
    font-family: 'Inter';
  }

  .board-body {
    height: 100vh;
  }

  .container-board {
    height: 100vh;
  }

  .disp-flex {
    display: flex;
    align-items: center;
  }
  
 
  .cursor-ptr {
    cursor: pointer;
  }
    
  .white-text {
    color: white;
  }

  .gray-text {
    color: #a8a8a8;
  }
  
  .left-side-section {
    flex-direction: column;
    background-color: #2a3647;
    height: 100vh;
    width: 232px;
  }

  .section-1 {
    padding-top: 64px;
    padding-bottom: 4rem;
  }

  .section-2 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
  }

  .clr-white {
    color: white !important;
  }

  .section-3 {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 2rem;
    width: 100%;
  }
    
  
  .sub-menu-container {
    gap: 0.5rem;
    padding-block: 8px;
    padding-left: 60px;
    transition: all 125ms ease-in-out;
  }

  .links {
    cursor: pointer;
    text-decoration: none;
    padding-block: 0.5rem;
    padding-left: 60px;
    transition: all 125ms ease-in-out;
  }
  
  .bg-links:hover {
    transform: scale(1) !important;
    color: #a8a8a8 !important;
  }
  
  .right-side-section {
    height: 100vh;
    width: calc(100% - 232px);
    background-color: rgb(246, 247, 248);
    overflow-y: auto;
    transition: all 125ms ease-in-out;
  }
  
  .menu {
    height: 70px;
    background-color: white;
    box-shadow: 0px 0 6px 0 rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    padding-left: 4rem;
    position: sticky;
    top: 0;
  }

  .login {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: 2px solid #2a3647;
    color: #29abe2;
    font-weight: 700;
    font-size: 16px;
    margin-right: 4rem;
  }

  .mobile-logo {
    display: none;
    width: 2rem;
    height: auto;
    object-fit: cover;
  }
  
  @media (width<=760px) {
    .right-side-section {
      width: 100%;
    }
       
    .mobile-logo {
      display: block;
    }
    .left-side-section {
      width: 100%;
      height: 85px;
      position: fixed;
      bottom: 0;
      z-index: 1;
    }

    .section-1,
    .section-3 {
      display: none;
    }

    .section-2 {
      flex-direction: row;
      justify-content: space-evenly;
      gap: unset;
    }
    
    .sub-menu-container {
      flex-direction: column;
      justify-content: center;
      padding-left: unset;
      padding-block: unset;
      border-radius: 19px;
      padding-inline: 0.5rem;
      margin-block: 0.2rem;
    } 
  }
 