.BoardSection {
  padding: 50px;
}

.headerBoard {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  height: 232px;
}

.addPlus-mobile {
  display: none;
}

h1 {
  padding-left: 250px;
  padding-top: 30px;
}

input {
  font-size: 20px;
  font-family: "Inter";
  padding: 8px 16px;
  border: solid 1px #dbdbdb;
  border-radius: 8px;
  width: 440px;
  min-width: 100%;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.input-icon {
  color: lightgrey;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  height: 30px;
}

.input-container {
  display: inline-block;
}

.input-wrapper {
  position: relative;
}

.border-left {
  position: absolute;
  top: 8px;
  right: 64px;
  height: 31px;
  width: 1px;
  background: #d1d1d1;
  pointer-events: none;
}

.addPlus {
  height: 24px;
}

.addPlus-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border: solid 1px #2a3647;
  border-radius: 12px;
  gap: 8px;
  font-size: 20px;
  font-family: "Inter";
  cursor: pointer;
  background-color: #2a3647;
  color: white;
  font-weight: 600;
  margin-top: 80px;
}

.headerFlex {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 32px;
}

.headerFlex {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 32px;
}

.status {
  display: flex;
  gap: 32px;
  padding-left: 250px;
  margin-top: -80px;
}

.dynamicDisplayFlex {
  display: flex;
}

.standardImg {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: column;
  width: 252px;
  margin: 32px;
}

.test2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #42526e;
  font-weight: 700;
  font-size: 20px;
}

.no-to-do,
.no-to-do-InProgress,
.no-to-do-AwaitFeedback,
.no-to-do-Done {
  color: #a8a8a8;
  border: 1px dotted #a8a8a8;
  background-color: #e7e7e7;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  text-align: center;
}

.addTaskBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 14px;
  border: solid 1px #2a3647;
  border-radius: 12px;
  gap: 8px;
  font-size: 20px;
  font-family: "Inter";
  cursor: pointer;
  background-color: #2a3647;
  color: white;
  font-weight: 600;
}

.borderBoard {
  display: flex;
  background-color: #ffff;
  border-radius: 24px;
  padding: 16px;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  border: solid 1.5px #dbdbdb;
  transition: 0.5s ease;
}

.drag-area {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  min-height: 170px;
}


.dialog-bg {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  position: fixed;
  height: 98vh;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
}

.dialog {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 20px;
  overflow-x: hidden;
}

.d-none {
  display: none;
}

.addTask-Board {
  display: flex;
  flex-wrap: wrap;
}

.taskCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-family: "Inter";
  padding: 12px 12px;
  height: 12px;
  border-radius: 14px;
  max-width: 120px;
  background-color: #0038ff;
  color: white;
}

.taskTitle {
  font-family: "Inter";
}

.taskDescription {
  color: #a8a8a8;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.borderBoard:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}

.d-none {
  display: none;
}

.taskDetail {
  width: 525px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 20px;
  padding: 54px;
  overflow-y: auto;
}

.borderBoardDetailTask {
  display: flex;
  flex-direction: column;
}

.taskTitleDetail {
  font-size: 48px;
}

.taskDescriptionDetail {
  font-size: 28px;
  color: #a8a8a8;
}

.detailHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeHeader {
  cursor: pointer;
  height: 32px;
}

.detailDatePrioAssigned {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.btn-taskEdit,
.btn-deleteEdit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.btn-deleteEdit button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  background-color: transparent;
}

.btn-deleteEdit button img {
  height: 24px;
}

.btn-taskEdit button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  border: none;
}

.btn-taskEdit button img {
  height: 24px;
}

.stapled-icons {
  display: flex;
  margin-left: -8px;
}

.stapled-icons-line {
  display: flex;
}

.initialscirclecontactsmall:hover {
  margin-right: 8px;

}

.searchContent {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 46px;
  padding: 16px;
  gap: 8px;
  width: calc(100% - 32px);
  background-color: white;
  border-radius: 10px;
}

.search-field-line {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  font-weight: bold;
}

.search-field-line:hover {
  font-size: large;
  cursor: pointer;
}

.overflow {
  overflow-y: auto;
  height: 150px;
}

.overflow-x {
  overflow-x: hidden;
}

.overflowTask {
  overflow-y: auto;
  overflow-x: hidden;
}


@media (max-width: 1500px) {
  .status {
    flex-direction: column;
    align-items: center;
  }

  .BoardSection {
    padding-bottom: 80px;
  }

}

@media (min-width: 1330px) {
  .subtaskContainer {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
    width: auto;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #292525;
  }
}

@media (max-width: 1070px) {
  .addTaskBtn {
    display: none;
  }

  .status {
    margin-top: 0;
  }

  .input-wrapper {
    margin-right: 182px;
    margin-bottom: 30px;
  }

  .headerBoard {
    flex-direction: column;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1050px) {
  h1 {
    padding-left: 0px;
  }

  .status{
    padding-left: 0;
  }

  input {
      width: auto;
  }

  .dialog-bg {
    height: 89vh;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
  }

  .dynamicDisplayFlex {
    display: flex;
  }

  .board {
    padding: 0 24px 104px 24px;
  }

  .headerBoard {
    flex-direction: column;
  }

  .headerFlex {
    flex-direction: row;
  }

  .test2 {
    font-size: 32px;
  }

  
}

@media (max-width: 700px) {
  .headerBoard {
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: -85px;
  }

  .borderBoard {
    max-width: 190px;
  }

  .flex {
    width: 335px;
  }

  header_templates {
    display: none;
  }

  .input-wrapper {
    margin-right: 0;
  }

  #board {
    margin-right: 30px;
  }

  .headerFlex {
    flex-direction: row;
    display: flex;
  }

  .dynamicDisplayFlex {
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }

  .drag-area {
    flex-direction: row;
    overflow-x: auto;
  }

  .status {
    padding-left: 0;
    gap: 0;
    margin-top: 0;
  }

  .flex {
    margin: 0;
  }

  h1 {
    display: flex;
    justify-content: center;
  }

  .headerBoard {
    flex-direction: column;
  }

  .overflowTask {
    max-height: none;
    gap: 8px;
  }


}