input {
  font-size: 20px;
  font-family: 'Inter';
  padding: 8px 16px;
  border: solid 1px #DBDBDB;
  border-radius: 8px;
  width: 440px;
  min-width: 100%;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}


.headerFlex {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 32px;
}

.headerFlex input,
button {
  height: 48px;
}


.status {
  display: flex;
  gap: 32px;
}

.standardImg {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.d-flex {
  display: flex;
  flex-direction: column;
  width: 252px;
}

.test2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #42526E;
  font-weight: 700;
  font-size: 20px;
}

.no-to-do {
  color: #a8a8a8;
  border: 1px dotted #a8a8a8;
  background-color: #e7e7e7;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.addTaskBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 14px;
  border: solid 1px #2A3647;
  border-radius: 12px;
  gap: 8px;
  font-size: 20px;
  font-family: 'Inter';
  cursor: pointer;
  background-color: #2A3647;
  color: white;
  font-weight: 600;
}