body {
    margin: 0;
    box-sizing: border-box;
    background-color: #F6F7F8;
    font-family: Inter;
    font-size: 16px;
}

h1 {
    font-size: 61px;
    font-weight: 700;
    margin-bottom: 16px;
}

h4 {
    font-weight: 400;
    font-size: 27px;
    margin: 0;
}

h5 {
    font-weight: 500;
    font-size: 47px;
    margin: 0;
    word-break: break-all;
}

footer a {
    text-decoration: none;
    color: #A8A8A8;
    padding: 8px;
}

.pos-footer {
    position: absolute;
    bottom: 39px;
}


.start-logo {
    position: absolute;
    top: 80px;
    left: 77px;
    width: 100px;
    height: 121px;
}


.infoBoxPosition {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.2);
}

.slideMsg {
    position: fixed;
    bottom: 200px;
    right: -400px;
    animation: slideIn 1000ms;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    width: 312px;
    height: 74px;
    color: white;
    background-color: rgba(42, 54, 71, 1);
    border-radius: 20px;
    padding: 0 25px;
}


@keyframes slideIn {
    0% {
        right: -400px;
    }
    100% {
        right: 315px;
    }
}


.hide {
    animation: fadeIn 1000ms;
    animation-timing-function: cubic-bezier(1, 0.0, 1, 1);
    /* cubic-bezier(1,0.0,1,1) */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.leftLogo {
    position: absolute;
    top: 80px;
    left: 77px;
    z-index: 1;
}


.moveToLeftWhite {
    display: none;
}


.moveToLeft {
    animation: moveToLefter 1s cubic-bezier(1, 0.0, 1, 1);
    position: absolute;
    top: 80px;
    left: 77px;
    z-index: 1;
}

@keyframes moveToLefter {
    0% {
        top: 50vh;
        left: 50vw;
        width: 274px;
        height: 334px;
        transform: translate(-50%, -50%);
    }

    40% {
        top: 50vh;
        left: 50vw;
        width: 274px;
        height: 334px;
        transform: translate(-50%, -50%);
    }

    100% {
        width: 100px;
        height: 334px;
        transform: translate(-50%, -50%);
    }
}


.sign-up {
    display: flex;
    position: absolute;
    align-items: center;
    /* width: 379px; */
    justify-content: flex-end;
    top: 67px;
    right: 122px;
    gap: 35px;
}

.loginBox {
    display: flex;
    height: 493px;
    width: 652px;
    background-color: #FFFFFF;
    border-radius: 30px;
    gap: 32px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.signUpBox {
    display: flex;
    height: 630px;
    width: 598px;
    background-color: #FFFFFF;
    border-radius: 30px;
    gap: 32px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

#bluelink {
    text-decoration: none;
    color: #6CC5EB;
    cursor: pointer;
}

.back-arrow {
    position: absolute;
    top: 68px;
    left: 50px;
    width: 32px;
    height: 32px;
}

.underline {
    background-color: #29ABE2;
    width: 150px;
    height: 3px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

/* Form Box */

.remember-box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 49px;
    font-weight: 400;
}

.app-box {
    display: flex;
    gap: 10px;
    font-weight: 400;
}

#remember {
    margin: 4px;
    height: 16px !important;
    width: 16px;
}

#app {
    margin: 4px;
    height: 16px !important;
    width: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.placeholder-img {
    position: absolute !important;
    height: 24px !important;
    width: 24px !important;
    padding: 12px !important;
    top: 0;
    right: 0;
    bottom: 0;
}

::placeholder {
    color: #d1d1d1;
    opacity: 1;
    /* Firefox */
}

.initialscircle{
    font-size: 47px;
    font-weight: 500;
    color: white;
    height: 114px;
    width: 114px;
    border-radius: 60px;
    border: 3px solid white;
}

.initialscirclecontact{
    font-size: 12px;
    font-weight: 400;
    color: white;
    height: 38px;
    width: 38px;
    border-radius: 19px;
    border: 2px solid white;
}

.textcontainer {
    margin-left: 328px;
    margin-top: 206px;
    margin-right: 328px;
}

@media screen and (max-width: 1050px) {
    .textcontainer {
        margin-left: 50px;
        margin-top: 161px;
        margin-right: 50px;
    }

    .navbarnotuser {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .textcontainer {
        margin-left: 20px;
        margin-top: 128px;
        margin-right: 20px;
    }
}