body {
    margin: 0;
    background-color: #F6F7F8;
    font-family: Inter;
    box-sizing: border-box;
    font-size: 16px;
}

h1 {
    font-size: 61px;
    font-weight: 700;
    margin-bottom: 16px;
}



footer a {
    text-decoration: none;
    color: #A8A8A8;
    padding: 8px;
}

.pos-footer {
    position: absolute;
    top: 949px;
}


/* Button */

button {
    font-weight: 700;
    font-size: 21px;
}

.li-buttons {
    display: flex;
    gap: 35px;
}

.colored-btn {
    background-color: #2A3647 !important;
    color: white;
    border-radius: 8px;
}

.normal-btn {
    color: #2A3647;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.btn-pad-big {
    padding: 15px 24px;
}

.btn-pad-small {
    padding: 15px 16px;
}

/* ##################### */

.start-logo {
    position: absolute;
    top: 80px;
    left: 77px;
}

.sign-up {
    display: flex;
    position: absolute;
    align-items: center;
    top: 67px;
    left: 1039px;
    gap: 35px;
}

.loginBox {
    display: flex;
    height: 493px;
    width: 652px;
    background-color: #FFFFFF;
    border-radius: 30px;
    gap: 32px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.underline {
    background-color: #29ABE2;
    width: 150px;
    height: 3px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

/* Form Box */

.remember-box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 49px;
    font-weight: 400;
}

#remember{
    margin: 4px;
    height: 16px !important;
    width: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.placeholder-img{
    position: absolute;
    height: 24px;
    width: 24px;
    padding: 14px;
    top: 0;
    right: 0;
    bottom: 0;
}

::placeholder {
    color: #d1d1d1;
    opacity: 1; /* Firefox */
  }

/* input#mail-placeholder {
    background-image: url("/images/mail.svg");
    background-repeat: no-repeat;
    text-indent: 5px;
} */

/* input#pass-placeholder {
    background-image: url("/images/lock.svg");
    background-repeat: no-repeat;
    text-indent: 5px;
    display: flex;
    justify-content: flex-end;
} */


/* #mail-placeholder-img {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1;
} */

