@media (max-width: 1200px) {
    .contact-details-headline-position-mobile {
        flex-direction: column;
        padding-left: 16px !important;
    }

    .blueline {
        display: none;
    }

    .blueline-mobile {
        display: block;
        width: 90px;
        height: 3px;
        margin-top: 8px;
        background-color: rgba(41, 171, 226, 1);
    }

    .main-content {
        padding-left: 16px !important;
    }

    #add-user-show-mobile{
        display: block;
        height: 445px;
        width: 500px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    #cancel-btn {
        display: none;
    }

    .btn-position-mobile {
        justify-content: center;
    }

    #change-direktion-mobile {
        flex-direction: column;
    }

    #window-content-img {
        display: none;
    }

    .window-content form {
        margin-left: 0;
        width: 364px;
    }

    .contacticon {
        margin: -60px 0 0 0;
    }

    .window-content {
        display: block;
        height: 860px;
        width: 500px;
    }
}

@media (max-width: 1150px) {
    .mobile-gap-20 {
        display: flex !important;
        gap: 20px !important;
    }
}

@media (max-width: 1080px) {
    .mobile-gap-20 {
        display: flex !important;
        gap: 20px !important;
    }
    .contact-content {
        width: 400px;
    }
    .contacts-btn-box {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 1050px){
    .contact-content {
        margin-top: 85px;
        margin-left: 0;
    }
    .contacts-btn-box {
        margin: auto;
        margin-top: 80px;
    }
    .container-pos{
        justify-content: space-around;
    }

    .scrollbar {
        height: calc(100vh - 160px);
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

@media (max-width: 960px) {
    .gap-54 {
        display: none;
    }

}

@media (max-width: 700px) {
    .scrollbar {
        margin-top: 0;
        height: calc(100vh - 90px);
    }

    .contacts-btn-box {
        margin-top: 0;
    }
}

@media (max-width: 800px) {

    .contacts-detail {
        width: calc(100% - 16px);
        display: none;
        margin-top: 0;
        padding-top: 124px;
        margin-bottom: 80px;
        padding-left: 16px;
        position: absolute;
        top: 0;
        height: calc(100vh - 204px);
    }

    .gap-54 {
        display: none;
    }

    
    .back-arrow-mobile {
        display: block;
        position: absolute;
        top: 128px;
        left: 80px;
        width: 32px;
        height: 32px;
    }
    
    .loginBox {
        width: 528px;
        height: 515px;
    }    
}

@media (max-width: 600px){
    #add-user-show-mobile{
        display: block;
        height: 352px;
        width: 396px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    #change-direktion-mobile {
        flex-direction: column;
    }

    #window-content-img {
        display: none;
    }

    .window-content {
        display: block;
        height: 760px;
        width: 396px;
    }

    .back-arrow-mobile {
        left: 40px;
    }

    .initialscircle {
        height: 80px;
        width: 80px;
    }

    .sign-up {
        right: 20px;
    }

    .loginBox {
        width: 396px;
        height: 515px;
    }
    .login-lines {
        width: auto;
    }
}


@media (max-width: 428px) {

    body {
        background-color: rgba(246, 247, 248, 1);
    }

    h1 {
        font-size: 47px;
    }
    .loginBox {
        width: 375px;
        height: 515px;
    }

    .moveToLeft {
        height: 64px;
        height: 78px;
        top: 37px;
        left: 38px;
    }

    @keyframes background-color-fader {
        from {
            background-color: rgba(42, 54, 71, 1);
        }
    }

    .moveToLeftWhite {
        display: block;
        width: 64px;
        height: 78px;
        top: 37px;
        left: 38px;
        animation: moveToLefterWhite 1s cubic-bezier(1, 0.0, 1, 1);
        position: absolute;
        z-index: 3;
        opacity: 0;
    }

    @keyframes moveToLefterWhite {
        0% {
            top: 50vh;
            left: 50vw;
            width: 100px;
            height: 122px;
            transform: translate(-50%, -50%);
            opacity: 1;
        }

        40% {
            top: 50vh;
            left: 50vw;
            width: 100px;
            height: 122px;
            transform: translate(-50%, -50%);
        }

        100% {
            width: 64px;
            height: 78px;
            transform: translate(-50%, -50%);
            opacity: 0;
        }
    }

    @keyframes moveToLefter {
        0% {
            top: 50vh;
            left: 50vw;
            width: 100px;
            height: 122px;
            transform: translate(-50%, -50%);
            opacity: 0;
        }

        40% {
            top: 50vh;
            left: 50vw;
            width: 100px;
            height: 122px;
            transform: translate(-50%, -50%);
        }

        100% {
            width: 64px;
            height: 78px;
            transform: translate(-50%, -50%);
            opacity: 1;
        }
    }

    .sign-up-mobile-position {
        display: flex;
        justify-content: center;
    }

    .sign-up {
        top: auto;
        bottom: 120px;
        right: auto;
    }

    .pos-li-buttons {
        flex-direction: column;
        gap: 21px;
    }

    .remember-box {
        padding-left: 16px;
    }

    .signUpBox {
        height: 595px;
        width: 370px;
    }

    .back-arrow {
        left: 24px;
        width: 24px;
    }

    .start-logo {
        width: 45px;
        height: 48px;
        top: 34px;
        left: 20px;
    }

    .app-box {
        padding-top: 32px;
    }

    .contacts-btn-box {
        display: none !important;
    }

    @media (max-height: 667px) {
        .sign-up {
            bottom: 16px;
        }

        .pos-footer {
            bottom: 0;
        }

        .footer-loin {
            bottom: -24px;
        }
    }

    .colored-btn-mobile {
        display: flex !important;
        position: absolute;
        background-color: rgba(42, 54, 71, 1);
        margin: 0;
        padding: 0;
        width: 56px !important;
        height: 56px !important;
        border-radius: 28px !important;
        bottom: 108px;
        right: 24px;
        box-shadow: none;
        border-right: none;
    }

    .colored-btn-mobile img {
        width: 32px;
        height: 32px;
    }

    .options {
        display: none !important;
    }

    .show-on-mobile {
        box-sizing: border-box;
        display: block;
        position: fixed;
        right: 8px;
        bottom: 80px;
        z-index: 8;
        background-color: white;
        padding: 18px;
        box-shadow: 0 3px 0px 0px lightgray;
    }

    .options-slidein {
        animation: slider 1s;
        font-size: 16px;
        font-weight: 400;
        width: 116px;
        height: 100px;
        justify-content: space-evenly;
        border-radius: 20px 20px 0 20px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        top: 758px;
        left: 300px;
    }

    @keyframes slider {
        0% {
            top: 758px;
            left: 500px;
        }
    }

    .options-btn {
        display: block;
        position: absolute;
        margin: 0;
        padding: 0;
        width: 56px;
        height: 56px;
        border-radius: 28px;
        bottom: 108px;
        right: 24px;
    }

    .btn-pad-newcontact {
        padding: 0 !important;
    }

    .content-container a {
        font-size: 16px;
    }

    .contact-content {
        margin: auto;
        width: 375px;
        box-shadow: none;
    }

    .letter {
        height: 24px;
        display: block !important;
        padding-left: 0px;
    }

    .container-pos {
        display: block !important;
    }

    .frame {
        font-size: 20px;
    }

    .contact-details-headline-position-mobile {
        align-items: flex-start !important;
        flex-direction: column !important;
        padding-left: 0 !important;
        gap: 8px !important;
        padding-bottom: 42px !important;
    }

    .contacts-detail h1 {
        font-size: 47px;
        padding-bottom: 8px;
    }

    .contacts-detail h4 {
        font-size: 20px;
    }

    .contacts-detail h5 {
        font-size: 36px;
        font-weight: 700;
    }

    .blueline {
        display: none;
    }

    .main-content {
        padding-left: 0 !important;
    }

    .main-content img {
        width: 80px;
        height: 80px;
    }

    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: flex !important;
    }

    .contacticon {
        margin-left: 0;
        margin-bottom: 35px;
    }

    .gap-15-mobile {
        gap: 15px !important;
    }

     #close-cross-icon {
        display: flex;
        position: absolute;
        top: 104px;
        left: 364px;
        height: 32px;
        width: 32px;
    }

    #close-cross-dark-icon {
        display: none;
    }

    .back-arrow-mobile {
        display: block;
        position: absolute;
        top: 128px;
        left: auto;
        right: 16px;
        width: 32px;
        height: 32px;
    }

    .contacts-list-highlight {
        background: white;
        color: black;
    }

    @keyframes slideUp {
        0% {
            bottom: -1200px;
        }
    }

    .slideMsg {
        position: fixed;
        bottom: -100px;
        animation: slideIn 1000ms;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        width: 312px;
        height: 74px;
        color: white;
        background-color: rgba(42, 54, 71, 1);
        border-radius: 20px;
        padding: 0 25px;
    }

    @keyframes slideIn {
        0% {
            bottom: -100px;
        }

        100% {
            bottom: 200px;
        }
    }
}