/* Positionierung */


.fd-column {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.d-flex {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.login-lines {
    width: 422px;
    gap: 32px;
}

.ta-center {
    text-align: center;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.d-none {
    display: none;
}

.pad-8 {
    padding: 8px;
}

.gap-16 {
    gap: 16px;
}


/* Schriftänderugen */


.f-size-16 {
    font-size: 16px;
}

.f-size-20 {
    font-size: 20px;
}