/* Positionierung */


.fd-column {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.d-flex {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.login-lines {
    width: 404px;
    gap: 24px;
}

.ta-center {
    text-align: center;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.d-none {
    display: none;
}

.pad-0{
    padding: 0;
}

.pad-8 {
    padding: 8px;
}

.gap-16 {
    gap: 16px;
}

.pad-l-16{
    padding-left: 16px;
}


/* Schriftänderugen */


.f-size-16 {
    font-size: 16px;
}

.f-size-20 {
    font-size: 20px;
}

.f-weight-400{
    font-weight: 400;
}

.max-width {
    width: 100%;
}

.pos-rel{
    position: relative;
    width: 100%;
}


/*Für alle Inputfelder wird ein blauer rahmen genutzt wenn man in das Feld klickt*/

input {
    height: 46px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    width: 100%;
    transition: 0.5s;
    outline: none;
    color: #3F3F3F;
}

input:focus{
    border: 1px solid #29ABE2;
   }