<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>

    <link rel="stylesheet" href="/assets/templates/navbar_template.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/logo.svg">
    <link rel="stylesheet" href="/assets/templates/add_Task_template.css">
    <link rel="stylesheet" href="/positions.css">
    <script src="add_Task.js"></script>
    <script src="/js/board.js"></script>

</head>

<body onload="includeHTML()">
    <div w3-include-html="/assets/templates/navbar_template.html"></div>
    <div w3-include-html="/assets/templates/header_template.html"></div>

    <div id="mainContent" class="main">
        <h1>Add Task</h1>
        <div class="d-flex gap-16 flex-wrap">
            <div class="left-column">
                <label class="title" for="Title">Title</label>
                <input required id="title" class="f-size-20" type="text" placeholder="Enter a title">

                <label for="Title">Description</label>
                <textarea required class="f-size-20" name="" id="description" cols="30" rows="10"
                    placeholder="Enter a description"></textarea>

                <label class="assigned" for="Title">Assigned to</label>
                <!-- <input onblur="closeDDWithoutFocus()" onclick="renderDropDownList()" class="f-size-20" id="assigned" type="text" placeholder="Enter a title"> -->
                <input onclick="ddListToggle()" class="f-size-20" id="assigned" type="text" placeholder="Enter a title">
                <div class="pos-rel">
                    <div id="dd-list-content" class="dd-list-content"></div>
                </div>
                <div id="selected-persons" class="selected-persons"></div>
            </div>
            <div class="middle-seperator"></div>
            <div class="right-column">
                <label class="date" for="Title">Due date</label>
                <input class="f-size-20" id="date" type="date" placeholder="tt.mm.jjjj">

                <label class="prio" for="Title">Prio</label>
                <div class="prioCategoryCont">
                    <button type="button" onclick="activeBtn('Priourgent')" class="prioCategory" id="Priourgent"
                        value="urgent">Urgent<img src="assets/images/urgent_symbol.svg"></button>
                    <button type="button" onclick="activeBtn('Priomedium')" class="prioCategory" id="Priomedium"
                        value="medium">Medium<img src="assets/images/medium_symbol.svg"></button>
                    <button type="button" onclick="activeBtn('Priolow')" class="prioCategory" id="Priolow"
                        value="low">Low<img src="assets/images/low_symbol.svg"></button>
                </div>

                <label class="category" for="Title">Category</label>
                <select type="text" id="categorySelect" placeholder="Select task category">
                    <option>Select Category</option>
                    <option value="Technical Task">Technical Task</option>
                    <option value="User Story">User Story</option>
                </select>

                <div class="formSection">
                    <label for="Title">Subtasks</label>
                    <input class="f-size-20" type="text" placeholder="Add new subtask">
                    <img class="subtaskPlusSymbol inputSymbol height-24" src="assets/images/add_task_plus_black.svg">
                </div>

            </div>
        </div>

        <footer class="d-flex ai-center gap-350 marg-top">
            <span class="f-size-16">This field is required</span>
            <div class="pos-li-buttons ">
                <button class="d-flex center normal-btn btn-pad-big ">Clear<img class="height-24"
                        src="assets/images/cancel.svg" alt="check"></button>
                <button onclick="addTask()" class="d-flex center gap-8 colored-btn btn-pad-big">Create Task<img
                        class="height-24" src="assets/images/check_add_task.svg" alt="check"></button>
            </div>
        </footer>

    </div>

    <div id="taskDetail d-none">

    </div>
</body>

</html>