.main {
    margin-top: 130px;
    margin-left: 328px;
    font-size: 20px;
    height: 778px;
    /* font-family: 'Inter'; */
    justify-content: space-between;
    max-width: 977px;
}

#mainContent h1 {
    margin: 0;
}

b {
    color: #29ABE2;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 48px;
    max-width: 440px;
    /* height: 420px; */
}

textarea:focus {
    border-color: #29ABE2;
}

textarea {
    resize: none;
    transition: 0.5s;
    outline: none;
    color: #3F3F3F;
    border: solid 1px #DBDBDB;
    border-radius: 10px;
    height: 120px;
}

textarea::placeholder {
    padding: 8px 16px;
}



input::placeholder {
    padding: 8px;
}

/* STYLE FÜR DIE DROPDOWNLISTE */

.dd-list-content {
    /* display: none; */
    overflow-y: auto;
    overflow-x: hidden;
    top: -19px;
    max-height: 280px;
    width: 100%;
    flex-direction: column;
    position: absolute;
    background-color: white;
    z-index: 1;
}

.dd-list-content img {
    width: 42px;
    height: 42px;
}

.dd-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 7px 16px;
    border-radius: 10px;
}

.dd-line:hover {
    cursor: pointer;
    background: linear-gradient(#f9f9f9, #f0f0f0);
}

.dd-line-dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 7px 16px;
    border-radius: 10px;
    color: white;
    background-color: rgba(42, 54, 71, 1);
}

.dd-line-dark:hover {
    background-color: rgba(9, 25, 49, 1);
}

.dd-line-inline {
    display: flex;
    align-items: center;
    gap: 16px;
}

.assigned-cbox {
    width: 24px;
    height: 24px;
}

#add-task-form input[type="radio"] {
    display: none;
}

.selected-persons {
    display: flex;
}

/* Ende STYLE FÜR DIE DROPDOWNLISTE */

.middle-seperator {
    border-left: 1px solid #D1D1D1;
    margin-top: 60px;

}

.right-column {
    margin-top: 48px;
    max-width: 440px;
    /* height: 420px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formSection {
    display: flex;
    flex-direction: column;
}

.prioCategoryCont {
    display: flex;
    gap: 20px;
}

.prioCategoryCont img {
    height: 15px;
}

.prioCategory {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: white;
    border: solid 1px #EAEBEC;
    border-radius: 8px;
    gap: 8px;
    width: 136px;
    color: black;
    font-size: 20px;
}

.prioCategory:hover {
    box-shadow: 0px 5px 4px 0px #BCBDBE;
    cursor: pointer;
}

.active-urgent {
    color: white;
    background-color: #29ABE2;
    border: #29ABE2;
}

/* Style für Subtask */

.subtask-icons {
    position: absolute;
    right: 16px;
    top: 0;
    bottom: 0;
    padding: 4px;
    /* overflow: visible; */
    /* border-radius: 50%; */
}

.inputSymbol {
    cursor: pointer;
}

.icon-size-24 {
    height: 24px;
    width: 24px;
}

.edit-options-seperator {
    height: 24px;
    width: 1px;
    background-color: rgba(209, 209, 209, 1);
}

/* #show-add {
    z-index: 2;
} */

/* #show-write {
    z-index: 2;
} */

#show-edit {
    position: absolute;
}

#show-save {
    display: none;
    position: absolute;
}

.subtask-line {
    padding: 4px;
}

.hiding {
    display: none;
}

.subtask-line:hover + .hiding {
    display: flex;
}

.subtask-line:hover {
    cursor: pointer;
    background-color: #EEEEEE;
    border-radius: 10px;
}

.subtask-edit-line {
    /* border-bottom: 2px solid #29ABE2 !important; */
    height: 32px;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 16px;
}

.subtask-edit-line:focus {
    border: 0;
    border-bottom: 1px solid #29ABE2 !important;
}

.subtask-edit-icons {
    /* display: flex; */
    position: absolute;
    right: 16px;
    top: 0;
    bottom: 0;
    padding: 4px;
    /* overflow: visible; */
    /* border-radius: 50%; */
}

.pad-add {
    padding-left: 16px;
    width: auto;
}

.pad-del {
    padding: 0;
}

/* Ende Style für Subtask */

.category::after,
.date::after,
.title::after {
    content: "*";
    color: #FF8190;
}

footer span::before {
    content: "*";
    color: #FF8190;
}


footer {
    padding: 16px;
    justify-content: space-between;
}


@media screen and (max-width: 1290px) {
    /* .middle-seperator{
        display: none;
    } */

    .main {
        margin-left: 240px;
    }
}

@media screen and (max-width: 1160px) {
    .middle-seperator {
        display: none;
    }

}

@media screen and (max-width: 1110px) {
    .middle-seperator {
        display: none;
    }

    .form-wrap {
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }
}


@media screen and (max-width: 1050px) {
    .middle-seperator {
        display: none;
    }

    /* .right-column {
        margin-top: -58px;
    } */

    .main {
        margin: auto;
        margin-top: 125px;
        margin-bottom: 400px;
        width: 100%;
    }

    .margin-bottom-80 {
        /* margin-bottom: -295px; */
    }

    footer {
        padding: 16px;
        justify-content: space-around;
    }

    .btn-clear {
        display: none;
    }

    .jc-sb {
        justify-content: flex-start;

    }

    .pos-li-buttons {
        margin-left: 75px;
    }
}


@media screen and (max-width: 500px) {
    .left-column {
        /* width: 396px; */
    }
    .prioCategory {
        height: 48px;
        padding: 4px;
        max-width: 136px;
    }

    .prioCategoryCont {
        gap: 8px;
    }
}