<head>
    <!-- <link rel="stylesheet" href="/assets/templates/edit_contacts_template.css"> -->
    <!-- <link rel="stylesheet" href="/positions.css"> -->
    <!-- <link rel="stylesheet" href="/main.css"> -->
    <!-- <link rel="stylesheet" href="/board.css"> -->
</head>

<body>
    <div id="add_user_window" class="front-window-bg center d-flex d-none" onclick="closeDialog()">
        <div class="window-content d-flex" onclick="doNotClose(event)">
            <img id="window-content-img" src="/assets/images/add_user_side_img.svg" alt="Dunkelfarbiges Logo von Join mit Team Schriftzug">
            <div class="d-flex center">
                <img id="contacticon" src="/assets/images/empty_contact.svg" alt="Bild einer Büste in Grau">
                <form onsubmit="onclick=saveUserDetails(); return false;">
                    <div class="d-flex fd-column gap-32">
                        <div class="pos-rel max-width">
                            <img src="./assets/images/person.svg" alt="Büste einer Person" id="pass-placeholder-img"
                                class="placeholder-img" />
                            <input required placeholder="Name" type="name"
                                id="newname" class="pad-0 pad-l-16 f-weight-400 f-size-20" />
                        </div>
                        <div class="pos-rel max-width">
                            <img src="./assets/images/mail.svg" alt="kleiner Briefumschlag" id="mail-placeholder-img"
                                class="placeholder-img" />
                            <input required placeholder="Email" type="email" id="newmail"
                                class="pad-0 pad-l-16 f-weight-400 f-size-20" />
                        </div>
                        <div class="pos-rel max-width">
                            <img src="./assets/images/call.svg" alt="Telefonhöhrer" id="phone-placeholder-img"
                                class="placeholder-img" />
                            <input placeholder="Phone" type="tel" id="newphone"
                                class="pad-0 pad-l-16 f-weight-400 f-size-20" />
                        </div>
                        <div class="d-flex gap-25">
                            <button onclick="closeDialog()" class="normal-btn btn-pad-big d-flex gap-8">Cancel<img class="btn-little-img" src="/assets/images/cancel_x.svg" alt="kleines Kreuz zum schließen"></button>
                            <button class="colored-btn btn-pad-big d-flex gap-8">Create contact<img class="btn-little-img" src="/assets/images/check_little.svg" alt="Hacken"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>