<section class="container-pos">
    <div class="contact-tbl">
        <div class="contacts-bar">
            <button class="colored-btn btn-pad-newcontact d-flex gap-16 btn-width center">Add new contact<img src="/assets/images/person_add.svg"
                    alt="Pictogramm einer Bueste"></button>
        </div>
        <div class="contact-content">

        </div>
    </div>
    <div class="contacts-detail">
        <h1>Contacts</h1>
        <div class="main-content">
        </div>
    </div>
</section>