.front-window-bg {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  animation: slideUp 500ms;
}

.window-content {
  display: flex;
  height: 592px;
  width: 1212px;
  background-color: white;
  border-radius: 30px;
}


@keyframes slideUp {
  0% {
    right: -1200px;
  }
}


#window-content-img {
  /* width: 1212px; */
  height: 592px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#add-user-show-mobile {
  display: none;
}

.window-content form {
  margin-left: 76px;
  width: 422px;
}

.contacticon {
  margin: -58px 0 0 93px;
  width: 120px;
  height: 120px;
}

.btn-little-img {
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#close-cross-icon {
  display: none;
}

#close-cross-icon:hover {
  cursor: pointer;
}

#close-cross-dark-icon {
  display: flex;
  position: absolute;
  top: 40px;
  left: 1150px;
  height: 32px;
  width: 32px;
}

#close-cross-dark-icon:hover {
  cursor: pointer;
}

.back-arrow-mobile {
  display: none;
}