.container-pos{
    display: flex;
    flex-direction: row;
}

.contacts-bar{
    margin-top: 96px;
    margin-left: 232px;
    width: 456px;
    max-height: 100vh;
}

.contacts-bar img{
    width: 32px;
    height: 32px;
}

.contacts-detail {
    /* margin-left: 800px; */
    margin-top: 206px;
    /* margin-right: 328px; */
    font-size: 20px;
}

.contacts-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22.5px 52px 0 52px;
}
