   <div class="main">
        <h1>Contacts</h1>
        <div class="main-content">
            <div class="left-column">
                <label for="Title">Title</label>
                <input type="text" placeholder="Enter a title">

                <label for="Title">Description</label>
                <input type="text" placeholder="Enter a description">

                <label for="Title">Assigned to</label>
                <input type="text" placeholder="Enter a title">
            </div>
            <div class="middle-seperator"></div>
            <div class="right-column">
                <label for="Title">Due date</label>
                <input type="text" placeholder="tt.mm.jjjj">

                <label for="Title">Prio</label>

                <label for="Title">Category</label>

                <label for="Title">Subtasks</label>
            </div>
        </div>
    </div>