.container-pos {
    display: flex;
    flex-direction: row;
}

.contacts-tbl {
    margin-left: 230px;
}

.contacts-btn-box {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22.5px 52px;
    margin-top: 96px;
    margin-left: 232px;
    width: 352px;
    /* z-index: 3; */
    box-shadow: 1px -1px 0px rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.contacts-btn-box img {
    width: 32px;
    height: 32px;
}

.add-contact-btn {
    display: none;
}

.scrollbar {
    margin-top: 96px;
    height: calc(100vh - 96px);
    overflow-y: auto;
    scrollbar-gutter: auto;
    scrollbar-color: rgba(168, 168, 168, 1) white;
    scrollbar-width: thin;
}

.contact-content {
    margin-top: 101px;
    margin-left: 232px;
    width: 456px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.fixed {
    position: fixed;
    /* top: 96px;
    margin-top: 26px; */
}

.contacts-detail {
    display: block;
    margin-top: 206px;
    font-size: 20px;
    background-color: #F6F7F8;
}

.contacts-detail h1 {
    margin: 0;
}

.main-content img {
    width: 120px;
    height: 120px;
}

.options img {
    width: 24px;
    height: 24px;
}

.options-btn {
    display: none;
}

.highlight:hover {
    font-weight: 700;
    font-size: 16px;
    color: rgba(41, 171, 226, 1);
    cursor: pointer;
    fill: rgb(41, 171, 226);
}

.show-on-mobile {
    display: none;
}

.blueline {
    height: 59px;
    width: 3px;
    background-color: rgba(41, 171, 226, 1);
}

.blueline-mobile {
    display: none;
}

.letter-container {
    box-sizing: border-box;
    width: 352px;
    padding: 17px 36px 17px 36px;
}

.content-container {
    width: 304px;
    border-radius: 10px;
    padding: 15px 24px 15px 24px;
    word-break: break-all;
}

.content-container:hover {
    cursor: pointer;
    background: linear-gradient(#f9f9f9, #f0f0f0);
    border-radius: 10px;
}

.contacts-list-highlight {
    background: rgba(42, 54, 71, 1);
    color: white;
}

.contacts-list-highlight:hover {
    background: rgba(42, 54, 71, 1);
    color: white;
}

.content-container a {
    color: rgba(0, 124, 238, 1);
    font-weight: 400;
}

.content-container img {
    width: 42px;
    height: 42px;
}

.frame {
    height: 48px;
}

.letter {
    font-size: 20px;
    font-weight: 400;
    /* padding-left: 74px; */
}

.grayline {
    margin: 8px 0 8px 0;
    height: 1px;
    background-color: rgba(209, 209, 209, 1);
    width: 352px;
    display: flex;
    align-items: center !important;
}