<head>
    <link rel="stylesheet" href="/assets/templates/edit_contacts_template.css">
    <!-- <link rel="stylesheet" href="/board.css"> -->
</head>
<body class="edit-contacts">


    <div id="front-window" class="front-window-bg" onclick="closeDialog()">
        <div class="window-content" onclick="doNotClose(event)">
            <img src="/assets/images/Frame 194.svg" alt="Dunkelfarbiges Logo von Join">
            <div>
                <div onload="includeHTML()" ></div>
                <div w3-include-html="/assets/templates/add_Task_template.html"></div>
            </div>
        </div>
    </div>
</body>