
<body>
    <div id="update_user_window" class="front-window-bg center d-flex d-none" onclick="closeDialog()">
        <div class="window-content" onclick="doNotClose(event)">
            <div class="position-rel">
                <img onclick="closeDialog()" id="close-cross-icon" src="/assets/images/close_cross.svg" alt="schließen Kreuz">
                <img onclick="closeDialog()" id="close-cross-dark-icon" src="/assets/images/close_cross_dark.svg" alt="schließen Kreuz">
            </div>
            <img id="window-content-img" src="/assets/images/update_user_side_img.svg" alt="Dunkelfarbiges Logo von Join">
            <img id="add-user-show-mobile" src="/assets/images/update_user_side_img_mobile.svg" alt="Dunkelfarbiges Logo von Join">
            <div id="change-direktion-mobile" class="d-flex center">
                <div class="contacticon" id="contacticon">
                </div>
                <form onsubmit="onclick=editUser(); return false;">
                    <div class="d-flex fd-column gap-32 gap-15-mobile">
                        <div class="pos-rel max-width">
                            <img src="./assets/images/person.svg" alt="Büste einer Person" id="pass-placeholder-img"
                                class="placeholder-img" />
                            <input required placeholder="Name" type="name" id="name" class="pad-0 pad-l-16 f-weight-400 f-size-20" />
                        </div>
                        <div class="pos-rel max-width">
                            <img src="./assets/images/mail.svg" alt="kleiner Briefumschlag" id="mail-placeholder-img" class="placeholder-img" />
                            <input placeholder="Email" type="email" id="mail"
                                class="pad-0 pad-l-16 f-weight-400 f-size-20" />
                        </div>
                        <div class="pos-rel max-width">
                            <img src="./assets/images/call.svg" alt="Telefonhöhrer" id="phone-placeholder-img" class="placeholder-img" />
                            <input placeholder="Phone" type="tel" id="phone" pattern="[0-9+]*" title="Bitte nur Zahlen oder das + Zeichen eingeben" class="pad-0 pad-l-16 f-weight-400 f-size-20" />
                        </div>
                        <div class="d-flex gap-25 btn-position-mobile">
                            <button onclick="deleteUser()" id="del-btn" type="button" class="normal-btn btn-pad-big">Delete</button>
                            <button id="submit-btn" type="submit" class="colored-btn btn-pad-big d-flex gap-8">Save<img class="btn-little-img" src="/assets/images/check_little.svg" alt="Hacken"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>