<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="navbarnotuser navbar d-flex fd-column jc-sb ai-center">
        <div class="nav-logo d-flex">
            <img src="/assets/images/logo_white_side_menu.svg" alt="logo-white">
        </div>

        <div class="nav-footer d-flex fd-column">
            <a href="/privacypolicyNotUser.html">Privacy Policy</a>
            <a href="/legalnoticeNotUser.html">Legal Notice</a>
        </div>

    </div>
</body>
