<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <!-- <link rel="stylesheet" href="/main.css"> -->
    <link rel="stylesheet" href="/assets/templates/navbar_template.css">
    <!-- <link rel="stylesheet" href="/positions.css"> -->

</head>

<body>
    <div class="navbar d-flex fd-column jc-sb ai-center">
        <div class="nav-logo d-flex">
            <img src="/assets/images/logo_white_side_menu.svg" alt="logo-white">
        </div>

        <div class="nav-main d-flex fd-column">
            <a href="/summary.html">
                <div class="bg-color pad-top-15 pad-bot-15 turn-direction d-flex ai-center gap-24 pad-l-45">
                    <img src="/assets/icon/side_menu/summary.svg" alt="summary">
                    Summary
                </div>
            </a>
            <a href="/add_Task.html">
                <div class="bg-color pad-top-15 pad-bot-15 turn-direction d-flex ai-center gap-24 pad-l-45 ">
                    <img src="/assets/icon/side_menu/edit_square.svg" alt="add-task">
                    Add Task
                </div>
            </a>
            <a href="/board.html">
                <div class="bg-color pad-top-15 pad-bot-15 turn-direction d-flex ai-center gap-24 pad-l-45">
                    <img src="/assets/icon/side_menu/board.svg" alt="board">
                    Board
                </div>
            </a>
            <a href="/contacts.html">
                <div class="bg-color pad-top-15 pad-bot-15 turn-direction d-flex ai-center gap-24 pad-l-45">
                    <img src="/assets/icon/side_menu/contacts.svg" alt="contacts">
                    Contacts
                </div>
            </a>
        </div>

        <div class="nav-footer d-flex fd-column">
            <a href="/privacypolicy.html">Privacy Policy</a>
            <a href="/legalnotice.html">Legal Notice</a>
        </div>

    </div>
</body>