
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/assets/templates/navbar_template.css">
    <link rel="stylesheet" href="/positions.css">

</head>

<body>
    <div class="navbar d-flex fd-column jc-sb ai-center">
        <div class="nav-logo d-flex">
            <img src="/assets/images/logo_white_side_menu.svg" alt="logo-white">
        </div>

        <div class="nav-main d-flex fd-column">
            <div class="form-lines ai-center">
                <img src="/assets/icon/side_menu/summary.svg" alt="summary">
                <a href="#about">Summary</a>
            </div>
            <div class="form-lines ai-center">
                <img src="/assets/icon/side_menu/edit_square.svg" alt="add-task">
                <a href="#services">Add Task</a>
            </div>
            <div class="form-lines ai-center">
                <img src="/assets/icon/side_menu/board.svg" alt="board">
                <a href="#clients">Board</a>
            </div>
            <div class="form-lines ai-center">
                <img src="/assets/icon/side_menu/contacts.svg" alt="contacts">
                <a href="#contact">Contacts</a>
            </div>
        </div>

        <div class="nav-footer d-flex fd-column">
            <a href="/privacypolicy.html">Privacy Policy</a>
            <a href="/legalnotice.html">Legal Notice</a>
        </div>

    </div>
</body>

